.generar-correo {
        text-align: center;
        color: white;
        text-decoration: none;
        width: 30%;
        display: inline-flex;
        justify-content: center;
        margin: 40px auto 0;
        padding: 10px 25px;
        border-radius: 25px;
        background-color: blue;
        font-weight: bold;
        border: 2px solid white;

    }

.generar-correo:hover {
    color: blue;
    background-color: white;
    border: 2px solid blue;
    }